# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Frontend build
dist/
build/


# =========================
# Python
# =========================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd


# =========================
# Environment files
# =========================
.env
.env.*


# =========================
# Large ML / Model files
# =========================
*.pth
*.pt
*.onnx
*.bin
*.ts


# =========================
# Datasets
# =========================
datasets/


# =========================
# Generated reports
# =========================
reports/


# =========================
# Private keys
# =========================
models/keys/private_key.pem


# =========================
# IDE
# =========================
.vscode/
.idea/


# =========================
# OS
# =========================
Thumbs.db
.DS_Store